@use 'typography' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.icon {
  @apply text-secondary;
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    @apply text-primary;
  }
}

.clickable {
    transition: color 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        @apply text-secondary;
    }
}