@font-face {
  font-family: 'Sovngarde-Bold';
  src: url('assets/fonts/sovngarde/SovngardeBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sovngarde-Light';
  src: url('assets/fonts/sovngarde/SovngardeLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Infant";
  src: url("assets/fonts/cosmorant/CormorantInfant-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amrys';
  src: url('assets/fonts/amrys/Amrys-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amrys';
  src: url('assets/fonts/amrys/Amrys-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Amrys';
  src: url('assets/fonts/amrys/Amrys-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
